ul {
  list-style-type: none;
  overflow: hidden;
  margin: -10px;
  display: flex;
  justify-content: space-around;

}

li {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
}

li:hover,
li:focus,
li:active {
    transform: scale(2.2);
}


li a {
  display: block;
  padding: 1em 1em;
  text-decoration: none;
}

table, td, td {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.container {
  background-color: white;
  border: 6px solid grey;
  padding: 20px;
  justify-content: center;
  text-align: center;
}



body {
background-color: lightgrey;
}


.div1 {
    border-style: solid;
    border-width: 2px;
}


 div.logout {
     vertical-align: middle;
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     backface-visibility: hidden;
     transition-duration: 0.3s;
     transition-property: transform;
     display: flex;
     justify-content: flex-end;
 }

div.logout:hover,
div.logout:focus,
div.logout:active {
    transform: scale(1.1);
}


