ul {
  list-style-type: none;
  overflow: hidden;
  margin: -10px;
  display: flex;
  justify-content: space-around;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 1em 1em;
  text-decoration: none;
}

table, td, td {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.container {
  justify-content: center;
  padding: 20px;
  text-align: center;
}