
ul {
  list-style-type: none;
  overflow: hidden;
  margin: -10px;
  display: flex;
  justify-content: space-around;

}

li {
  float: left;
   display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;

}

li:hover,
li:focus,
li:active {
    transform: scale(1.1);
}


li a {
  display: block;
  padding: 1em 1em;
  text-decoration: none;
}

table, td, td {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.container {
  background-color: white;
  border: 6px solid grey;
  padding: 20px;
  justify-content: center;
  text-align: center;
  width: 800px;

}


body {
background-color: lightgrey;
}


.div1 {
    border-style: solid;
    border-width: 2px;
    border
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.div1:hover,
.div1:focus,
.div1:active {
    transform: scale(1.1);
}


 div.logout {
       display: inline-block;
     vertical-align: middle;
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     transition-duration: 0.3s;
     transition-property: transform;
 }
div.logout:hover,
div.logout:focus,
div.logout:active {
    transform: scale(1.1);
    }


