<h1>Transaction Details: </h1>

<table>

    <tr>
        Discounts Applied:
    </tr>

    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>

</table>

<p>Your total cost for this transaction will be: $user.getBasket().getTotal() </p>

<p>Are you sure you want to make this order: </p>

<form action="/basket/confirm" method="post">
    <button type="submit">Order</button>
</form>