<h1>$user.getUsername() 's account: </h1>

<p>Your name: $user.getName() </p>

<p>Your password: $user.getPassword() </p>

<p><a href="/user/transaction-history">Your transaction history</a> </p>

<p><a href="/user/loyalty-card">Your loyalty card</a></p>