<h1>Hello $user.getUsername() </h1>

<p>Your name: $user.getName() </p>

<p>Your password: $user.getPassword() </p>

<p><a href="/user/transaction-history">Your transaction history</a> </p>

<p><a href="/user/loyalty-card">Your loyalty card</a></p>

<form action="/user/edit" method="get">
    <button type="submit">Edit my details</button>
</form>

<form action="/user/delete" method="post">
    <button type="submit">Delete my account</button>
</form>