<!DOCTYPE html>
<html>
    <head>
        <title>Online Shop</title>
            <link href="/style.css" rel="stylesheet" type="text/css" />
    </head>

    <ul class="flex-container space-between">
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/basket">Your Basket</a></li>
        <li><a href="/stock">Stock Control Panel</a></li>
        <li><a href="/user">User Panel</a></li>
    </ul>

    <body>
    
        <p>Welcome $user.getName() <a href="/logout">Logout</a> </p>
        <p>Your total in basket: £ $user.getBasket().getTotal() </p>
        <!-- begin inner template-->
        <div class="container">
            #parse( $template )
        </div>
        <!-- end inner template-->
        
    </body>
</html>