<h1>Shop</h1>

<p>This is the main shop page, please select a category from below or search for your product</p>

<p><a href="/shop/food">Food</a></p>
<p><a href="/shop/clothes">Clothes</a></p>
<p><a href="/shop/electronic">Electronic</a></p>